<div id="<%= dom_id coffee_roast %>">
  <p>
    <strong>Roast name:</strong>
    <%= coffee_roast.roast_name %>
  </p>

  <p>
    <strong>Roast description:</strong>
    <%= coffee_roast.roast_description %>
  </p>

</div>
