<h1>Editing coffee roast</h1>

<%= render "form", coffee_roast: @coffee_roast %>

<br>

<div>
  <%= link_to "Show this coffee roast", @coffee_roast %> |
  <%= link_to "Back to coffee roasts", coffee_roasts_path %>
</div>
